.git
.gitignore
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
node_modules
vendor
storage/logs/*
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*
public/build
public/assets
public/storage
docs
tests
*.md
.editorconfig
phpunit.xml
